.todo{
    text-align: center;
}
.input__button{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.Task{
    width: 100%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}
#span{
    display: flex;
    justify-content: center;
    margin-left: -240px;
    color:red;
    font-size: 14px; 
 }
i{
    cursor: pointer;
}
#inputTask{
    padding: 8px 20px;
    border: 2px solid grey;
    border-radius: 5px;
    outline: none;
    color:grey;
}
.addBtn{
    border-radius:5px;
    outline: none;
    border: 2px solid green;
    background: rgb(170, 236, 170);
    color:green;
    cursor: pointer;
}
.wrapper{
    display: flex;
    align-items:center;
    justify-content: center;
    gap: 10px;
    border: 2px solid green;
    margin: 10px 0;
    width: 270px;
    padding: 0 10px;
    border-radius: 5px;
}